<div layout="column" ng-cloak>
  <section layout="row">
    <md-sidenav style="height:890px;" class="md-sidenav-left md-whiteframe-z2" md-is-locked-open="true" md-component-id="left">
      <md-content layout-padding>
        <md-subheader class="md-no-sticky">Components</md-subheader>
        <ul>
          <li ng-repeat="item in lists.templates"
                        dnd-draggable="item"
                        dnd-effect-allowed="copy"
                        dnd-copied="item.id = item.id + 1">
            <md-button class="md-raised md-warn" ng-disabled="disabled">{{item.type}}</md-button>
          </li>
        </ul>
      </md-content>
      <md-content ng-if="lists.selected" layout-padding>
        <h3>Selected</h3>
        <md-input-container class="md-icon-float md-block">
          <label>Type: {{lists.selected.type}}</label>
          <input ng-model="lists.selected.id" type="text">
        </md-input-container>
      </md-content>
    </md-sidenav>
    <div class="container">
      <div class="row">
        <div ng-repeat="(zone, list) in lists.dropzones" class="col-md-6">
            <div class="dropzone box box-yellow">
                <h3>Dropzone {{zone}}</h3>
                <div class="container">
                  <wm-list></wm-list>
                </div>
            </div>
        </div>
      </div>
    </div>
  </section>
</div>