<div layout="column" ng-cloak>
  <section layout="row">
    <md-sidenav style="height:890px;" class="md-sidenav-left md-whiteframe-z2" md-is-locked-open="true" md-component-id="left">
      <md-content layout-padding class="toolbox box box-grey box-padding">
        <md-subheader class="md-no-sticky">Components</md-subheader>
        <ul>
          <li ng-repeat="item in lists.templates"
                        dnd-draggable="item"
                        dnd-effect-allowed="copy"
                        dnd-copied="item.id = item.id + 1">
            <md-button class="md-raised md-warn" ng-disabled="disabled">{{item.type}}</md-button>
            <md-input-container ng-if="item.type === 'grid'">
              <md-select ng-model="item.class">
                <md-option ng-repeat="class in lists.classes" value="{{class}}">
                  {{class}}
                </md-option>
              </md-select>
            </md-input-container>
          </li>
        </ul>
      </md-content>
      <md-content ng-if="lists.selected" layout-padding>
        <h3>Selected</h3>
        <md-input-container class="md-icon-float md-block">
          <label>Type: {{lists.selected.type}}</label>
          <input ng-model="lists.selected.id" type="text">
        </md-input-container>
      </md-content>
    </md-sidenav>
    <md-content class="col-md-12" layout-padding>
        <div ng-repeat="(zone, list) in lists.dropzones">
            <div class="dropzone box box-yellow">
                <h3>{{zone}}</h3>
                <wm-list class="column"></wm-list>
            </div>
        </div>
    </md-content>
  </section>
</div>